@model Countries

@{
    ViewBag.Title = "Add_Countries";
    Layout = null;
}

<div class="modal fade" id="myModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Countries</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @using (Ajax.BeginForm("Add_Countries", "Location_Master", new AjaxOptions () { HttpMethod="POST", OnSuccess = "AddCountrySuccess" , OnFailure = "AddCountryFailure" }))
                {
                    @Html.HiddenFor(model => model.ID)
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal" id="txtfiled">
                  
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <sup class="text-red h6">*</sup>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pakistan" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <sup class="text-red h6">*</sup>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShortCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pk" } })
                                @Html.ValidationMessageFor(model => model.ShortCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" style="display:none;" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  

<script>
 
</script>